.acquiring {
  padding-top: 195.53px;

  @media screen and (max-width: $desktopWidth) {
    padding-top: 120px;

    &__button {
      display: none;
    }

    &__button_mob {
      margin-top: 40px;
    }
  }

  .wrapper {
    @include flex-space-btw;
    max-width: 1145px;
  }

  &__text {
    max-width: 500 * 100%/1145;

    p {
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      margin-bottom: 40px;
    }

    @media screen and (max-width: $desktopWidth) {
      max-width: 100%;

      p {
        color: $blue;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }

  &__img {
    max-width: 378 * 100%/1145;
    margin-right: 6.5%;

    @media screen and (max-width: $desktopWidth) {
      max-width: 100%;
      margin: 0;
    }
  }
}

.advantages {
  padding-top: 151px;

  ._sub-title {
    color: $blue;
    margin-bottom: 63px;
  }

  &__cards {
    @include flex-space-btw;
    flex-wrap: wrap;
    max-width: 1011px;
    margin: 0 auto;
  }

  &__card {
    max-width: 432px;
    display: flex;
    height: 170px;
    margin-bottom: 43px;

    &:nth-child(1) {
      &::before {
        content: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M36.887 45.913C36.4696 45.913 36.1043 45.8087 35.7391 45.6L24 37.9304L12.2609 45.6C11.5304 46.0695 10.5913 46.0174 9.91305 45.5478C9.23479 45.0261 8.92174 44.1391 9.13044 43.3043L12.8348 30.2608L1.77392 20.9217C1.14783 20.4 0.88696 19.513 1.14783 18.6782C1.4087 17.8434 2.13913 17.3217 2.97392 17.2174L16.1739 16.2782L22.1217 3.28691C22.4348 2.55648 23.1652 2.08691 24 2.08691C24.8348 2.08691 25.5652 2.55648 25.8783 3.28691L31.8261 16.2782L45.0261 17.2174C45.8609 17.2695 46.5913 17.8434 46.8522 18.6782C47.113 19.4608 46.8522 20.3478 46.2261 20.9217L35.2174 30.2087L38.9217 43.2521C39.1826 44.0869 38.8696 44.9739 38.1391 45.4956C37.7739 45.7565 37.3565 45.913 36.887 45.913ZM24 33.3913C24.4174 33.3913 24.7826 33.4956 25.1478 33.7043L33.3913 39.0782L30.8348 30.0521C30.6261 29.2695 30.887 28.4347 31.513 27.913L39.6 21.0782L30.313 20.3478C29.5304 20.2956 28.9044 19.826 28.5391 19.1478L24 9.18257L19.4609 19.1478C19.1478 19.826 18.4696 20.2956 17.687 20.3478L8.4 21.026L16.487 27.8608C17.113 28.3826 17.3739 29.2174 17.1652 30L14.6087 39.0782L22.8522 33.7565C23.2174 33.4956 23.5826 33.3913 24 33.3913Z' fill='%23428ECC'/%3E%3C/svg%3E%0A");
        width: 48px;
        height: 48px;
        display: block;
        margin-right: 29px;
      }
    }

    &:nth-child(2) {
      &::before {
        content: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2_2949)'%3E%3Cpath d='M31.2 48C24.7304 48 14.5565 45.8609 12.0522 44.087C11.4783 43.6696 11.1652 43.0435 11.1652 42.3652V21.9652C11.1652 21.3391 11.4783 20.713 11.9478 20.3478C12.1043 20.2435 15.7565 17.3739 19.5652 15.2348C24.313 12.6261 27.6 8.97391 28.3826 6.67826C29.3217 3.86087 30.6783 0 34.9565 0C36.9913 0 38.6609 1.14783 39.5478 3.13043C41.3217 7.2 39.4435 12.8348 36.313 17.2696C38.4 17.7391 41.0087 18.4174 42.5739 18.887C45.4435 19.7739 47.3217 21.8609 47.7391 24.4174C48.1043 27.0261 46.8 29.687 44.0348 31.7217C42 37.2 38.5043 45.8609 35.9478 47.2696C34.9565 47.7913 33.2348 48 31.2 48ZM15.3391 41.113C19.3043 42.7826 31.513 44.5043 33.8087 43.6174C35.0087 42.5217 38.087 35.5304 40.2261 29.6348C40.3826 29.2174 40.6435 28.8522 41.0087 28.5913C42.7304 27.4435 43.6174 26.087 43.4609 24.9391C43.3043 24 42.4696 23.2174 41.2174 22.8C38.6087 21.9652 32.1391 20.5565 32.0348 20.5565C31.3043 20.4 30.7304 19.8783 30.4696 19.1478C30.2087 18.4174 30.4174 17.6348 30.9391 17.113C35.6348 12.0522 36.4696 6.88696 35.5826 4.8C35.3739 4.17391 35.113 4.17391 34.9565 4.17391C33.913 4.17391 33.4435 4.90435 32.3478 8.03478C31.0956 11.687 26.7652 16.0696 21.6 18.887C19.0956 20.2435 16.5913 22.0696 15.3391 23.0087V41.113ZM7.09565 42.5739V21.7043C7.09565 19.8261 5.5826 18.313 3.70434 18.313C1.82608 18.313 0.260864 19.8261 0.260864 21.7043V42.5217C0.260864 44.4 1.77391 45.913 3.65217 45.913C5.53043 45.913 7.09565 44.4 7.09565 42.5739Z' fill='%23428ECC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_2_2949'%3E%3Crect width='48' height='48' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        width: 48px;
        height: 48px;
        display: block;
        margin-right: 31px;
      }
    }

    &:nth-child(3) {
      margin-bottom: 0;

      &::before {
        content: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.2978 2.12734C23.7505 1.95755 24.2495 1.95755 24.7022 2.12734L40.7022 8.12734C41.4829 8.42007 42 9.16631 42 10V24C42 30.8929 37.4365 36.4006 33.317 40.0052C31.2152 41.8442 29.1229 43.2817 27.56 44.2585C26.7765 44.7482 26.1206 45.1255 25.6561 45.3826C25.4237 45.5112 25.2389 45.61 25.1094 45.678C25.0446 45.712 24.9937 45.7383 24.9575 45.7568L24.9145 45.7787L24.9016 45.7853L24.8973 45.7874C24.8966 45.7878 24.8944 45.7889 24 44C23.1056 45.7889 23.105 45.7886 23.1043 45.7882L23.0984 45.7853L23.0855 45.7787L23.0425 45.7568C23.0063 45.7383 22.9554 45.712 22.8906 45.678C22.7611 45.61 22.5763 45.5112 22.3439 45.3826C21.8794 45.1255 21.2235 44.7482 20.44 44.2585C18.8771 43.2817 16.7848 41.8442 14.683 40.0052C10.5635 36.4006 6 30.8929 6 24V10C6 9.16631 6.51715 8.42007 7.29775 8.12734L23.2978 2.12734ZM24 44L23.1043 45.7882C23.6674 46.0698 24.3314 46.0704 24.8944 45.7889L24 44ZM24 41.7255C24.3833 41.5083 24.8734 41.2206 25.44 40.8665C26.8771 39.9683 28.7848 38.6558 30.683 36.9948C34.5635 33.5994 38 29.1071 38 24V11.386L24 6.136L10 11.386V24C10 29.1071 13.4365 33.5994 17.317 36.9948C19.2152 38.6558 21.1229 39.9683 22.56 40.8665C23.1266 41.2206 23.6167 41.5083 24 41.7255Z' fill='%233F8DCB'/%3E%3C/svg%3E%0A");
        width: 48px;
        height: 48px;
        display: block;
        margin-right: 29px;
      }
    }

    &:nth-child(4) {
      margin-bottom: 0;

      &::before {
        content: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.75736 7.75736C4.88258 6.63214 6.4087 6 8 6H22C23.1046 6 24 6.89543 24 8C24 9.10457 23.1046 10 22 10H8C7.46957 10 6.96086 10.2107 6.58579 10.5858C6.21071 10.9609 6 11.4696 6 12V40C6 40.5304 6.21071 41.0391 6.58579 41.4142C6.96086 41.7893 7.46957 42 8 42H36C36.5304 42 37.0391 41.7893 37.4142 41.4142C37.7893 41.0391 38 40.5304 38 40V26C38 24.8954 38.8954 24 40 24C41.1046 24 42 24.8954 42 26V40C42 41.5913 41.3679 43.1174 40.2426 44.2426C39.1174 45.3679 37.5913 46 36 46H8C6.4087 46 4.88258 45.3679 3.75736 44.2426C2.63214 43.1174 2 41.5913 2 40V12C2 10.4087 2.63214 8.88258 3.75736 7.75736Z' fill='%233F8DCB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M40 5.75732C39.4052 5.75732 38.8348 5.9936 38.4142 6.41418L19.8059 25.0225L18.7487 29.2512L22.9775 28.194L41.5858 9.58575C42.0063 9.16517 42.2426 8.59475 42.2426 7.99996C42.2426 7.40518 42.0063 6.83476 41.5858 6.41418C41.1652 5.9936 40.5948 5.75732 40 5.75732ZM35.5858 3.58575C36.7565 2.41503 38.3443 1.75732 40 1.75732C41.6556 1.75732 43.2435 2.41503 44.4142 3.58575C45.5849 4.75647 46.2426 6.34431 46.2426 7.99996C46.2426 9.65562 45.5849 11.2435 44.4142 12.4142L25.4142 31.4142C25.1579 31.6705 24.8367 31.8523 24.4851 31.9403L16.4851 33.9403C15.8035 34.1106 15.0825 33.9109 14.5858 33.4142C14.089 32.9174 13.8893 32.1964 14.0597 31.5149L16.0597 23.5149C16.1476 23.1632 16.3295 22.8421 16.5858 22.5858L35.5858 3.58575Z' fill='%233F8DCB'/%3E%3C/svg%3E%0A");
        width: 48px;
        height: 48px;
        display: block;
        margin-right: 33px;
      }
    }

    @media screen and (max-width: $desktopWidth) {
      @include flex-col;

      &:nth-child(-n + 4) {
        margin-bottom: 50px;
      }

      &:nth-child(-n + 4):before {
        width: 40px;
        height: 40px;
        margin-bottom: 11.67px;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 28px;
      line-height: 130%;
      color: $light-blue;
      margin-bottom: 15px;
      display: block;

      @media screen and (max-width: $desktopWidth) {
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        margin-bottom: 10px;
      }
    }

    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;

      @media screen and (max-width: $desktopWidth) {
        line-height: 25px;
      }
    }
  }

  &__info {
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    color: $light-blue;
    text-align: center;

    @media screen and (min-width: $desktopWidth) {
      display: none;
    }
  }

  &__button {
    letter-spacing: 0.6px;
    margin: 24px auto 0;
  }
}

.options {
  padding-top: 109px;

  ._sub-title {
    color: $blue;
    padding-right: 20px;
    margin-bottom: 60px;
  }

  &__cards {
    @include flex-space-btw;

    @media screen and (max-width: $desktopWidth) {
      display: none;
    }
  }

  &__card {
    width: 100%;
    max-width: 385px;
    height: 447px;
    box-shadow: 0px 8px 10px rgba(107, 139, 217, 0.1);
    border-radius: 26px;

    &-text {
      padding: 26px 32px;

      span {
        font-weight: 600;
        font-size: 22px;
        line-height: 130%;
        color: $blue;
        margin-bottom: 20px;
        display: block;
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: $secondFontColor;
        width: 95%;
      }

      @media screen and (max-width: $desktopWidth) {
        padding: 16px 24px;
        height: 140px;
        box-shadow: 0px 8px 10px rgba(107, 139, 217, 0.1);
        border-radius: 26px;
        margin-bottom: 20px;

        span {
          font-weight: 700;
          font-size: 18px;
          line-height: 130%;
          margin-bottom: 16px;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }
}

.payment-place {
  padding-top: 122px;

  ._sub-title {
    color: $light-blue;
    margin-bottom: 53.4px;

    @media screen and (max-width: $desktopWidth) {
      margin-bottom: 32.4px;
    }
  }

  &__decor {
    position: relative;

    img:nth-child(1) {
      position: absolute;
      top: -52px;
      left: 35px;
    }

    img:nth-child(2) {
      position: absolute;
      top: -97px;
      left: 69px;
    }

    img:nth-child(3) {
      position: absolute;
      right: 105px;
      bottom: -14px;
    }
  }

  &__button {
    margin: 65.31px auto 0;
  }

  &__cards {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: $desktopWidth) {
      display: none;
    }
  }

  &__card {
    display: flex;
    justify-content: flex-start;
    width: 530px;

    &-img {
      max-width: 253.31px;
      max-height: 246.12px;
    }

    &-text {
      margin-left: 29px;
      span {
        font-weight: 700;
        font-size: 20.7296px;
        line-height: 134.34%;
        color: $blue;
        margin-bottom: 26px;
      }

      @media screen and (max-width: $desktopWidth) {
        text-align: center;
        margin-top: 20px;
        margin-left: 24px;
      }
    }

    &-list {
      span {
        font-weight: 400;
        font-size: 16px;
        line-height: 134.34%;
        color: #121212;
        margin-bottom: 0;
        margin-left: 14px;
      }

      &_item {
        @include flex-align-center;
        margin-top: 20px;

        @media screen and (max-width: $desktopWidth) {
          margin-top: 14px;
        }

        &:nth-child(1)::before {
          content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 4.92578C2.44772 4.92578 2 5.36078 2 5.89739V17.5568C2 18.0934 2.44772 18.5284 3 18.5284H21C21.5523 18.5284 22 18.0934 22 17.5568V5.89739C22 5.36078 21.5523 4.92578 21 4.92578H3ZM0 5.89739C0 4.28757 1.34315 2.98254 3 2.98254H21C22.6569 2.98254 24 4.28757 24 5.89739V17.5568C24 19.1666 22.6569 20.4716 21 20.4716H3C1.34315 20.4716 0 19.1666 0 17.5568V5.89739Z' fill='%233F8DCB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 9.78387C0 9.24726 0.447715 8.81226 1 8.81226H23C23.5523 8.81226 24 9.24726 24 9.78387C24 10.3205 23.5523 10.7555 23 10.7555H1C0.447715 10.7555 0 10.3205 0 9.78387Z' fill='%233F8DCB'/%3E%3C/svg%3E%0A");
        }

        &:nth-child(2)::before {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='28' viewBox='0 0 27 28' fill='none'%3E%3Cpath d='M18.0737 11.4321L18.0737 11.4321C17.8832 11.6315 17.7383 11.8657 17.6445 12.1209C17.4442 12.0363 17.2329 11.989 17.0203 11.9784V3.02771C17.0203 1.76463 16.0366 0.725732 14.8131 0.725732H3.05727C1.83387 0.725732 0.850191 1.76464 0.850191 3.02771V11.6869C0.850191 12.046 1.13026 12.3492 1.48983 12.3492C1.84955 12.3492 2.12965 12.046 2.12965 11.6869V5.32969H15.7407V12.4062C15.6848 12.4524 15.6304 12.5024 15.5783 12.5569C15.2353 12.9157 15.0522 13.3777 15.0273 13.8458C14.5773 13.8737 14.1347 14.067 13.7929 14.4245C13.6395 14.5849 13.518 14.7663 13.4283 14.9595L10.757 12.165L10.6486 12.2687L10.757 12.165C10.3984 11.7899 9.9195 11.5819 9.40949 11.5819C8.89945 11.5819 8.42054 11.7902 8.06199 12.165L8.06196 12.165C7.7036 12.5399 7.50722 13.0376 7.50722 13.5648C7.50722 14.0922 7.7036 14.5898 8.06196 14.9646L14.2073 21.3931L13.5648 21.23C12.5414 20.9701 11.4977 21.6144 11.211 22.6552H2.12965V16.298C2.12965 15.9389 1.84955 15.6357 1.48983 15.6357C1.1301 15.6357 0.85 15.9389 0.85 16.298V24.9572C0.85 26.2203 1.83369 27.2592 3.05727 27.2592H14.8129C15.4059 27.2592 15.9641 27.0113 16.3732 26.5844L17.1273 26.8596L17.1274 26.8596C17.8565 27.1254 18.6184 27.2594 19.3824 27.2594C19.8943 27.2594 20.4072 27.1993 20.9117 27.0785C22.1693 26.7774 23.3153 26.114 24.2262 25.1613L24.1178 25.0577L24.2263 25.1613C26.8925 22.3725 26.8925 17.8375 24.2263 15.0487L20.7688 11.4321C20.4102 11.057 19.9313 10.849 19.4213 10.849C18.9112 10.849 18.4323 11.057 18.0737 11.4321ZM12.4508 25.1539L12.4509 25.154L14.5908 25.9344H3.05727C2.5521 25.9344 2.12965 25.5024 2.12965 24.9572V23.98H11.2781C11.4824 24.5102 11.8965 24.9516 12.4508 25.1539ZM23.3168 24.2293L23.3168 24.2293C21.8161 25.7992 19.5532 26.3395 17.5528 25.6101L12.8763 23.9044L12.8762 23.9044C12.542 23.7826 12.3437 23.4007 12.4383 23.0314C12.5211 22.7085 12.8041 22.4967 13.1029 22.4967C13.1545 22.4967 13.2072 22.5031 13.2601 22.5165L16.1043 23.2386C16.1044 23.2386 16.1044 23.2386 16.1044 23.2386C16.3875 23.3106 16.6776 23.1751 16.8161 22.917L16.8162 22.9169C16.9537 22.6606 16.9124 22.3394 16.7117 22.1293L8.97146 14.0328C8.85279 13.9087 8.78668 13.7431 8.78668 13.565C8.78668 13.3867 8.8528 13.2212 8.97146 13.0971C9.08989 12.9732 9.24506 12.9066 9.40949 12.9066C9.57372 12.9066 9.72889 12.9732 9.84734 13.0971L9.95576 12.9934L9.84734 13.0971L13.789 17.22L13.7919 17.2232L13.7927 17.2241L13.7927 17.2241L13.7927 17.2241L13.7928 17.2241L13.7928 17.2241L13.7928 17.2242L13.7928 17.2242L13.7928 17.2242L13.7928 17.2242L13.7928 17.2242L13.7928 17.2242L13.7928 17.2242L13.7929 17.2242L13.7929 17.2242L13.7929 17.2243L13.7929 17.2243L13.7929 17.2243L13.7929 17.2243L13.793 17.2244L13.7931 17.2245L16.2187 19.7618C16.3431 19.8918 16.5077 19.9582 16.6734 19.9582C16.839 19.9582 17.0039 19.892 17.1281 19.7618C17.375 19.5038 17.3749 19.088 17.1282 18.8299L14.7024 16.2923L14.6932 16.2826C14.4566 16.0246 14.4597 15.6106 14.7024 15.3565C14.9445 15.1033 15.336 15.1033 15.5783 15.3566L18.1302 18.0261L18.1303 18.0262C18.2545 18.1559 18.4191 18.2225 18.5851 18.2225C18.7509 18.2225 18.9155 18.1559 19.0397 18.0262L19.0399 18.026C19.2864 17.7679 19.2864 17.3522 19.0399 17.0941L19.0398 17.094L16.4878 14.4247C16.242 14.1675 16.2421 13.746 16.4878 13.489C16.7301 13.2356 17.1216 13.2356 17.3636 13.4889L17.3637 13.489L18.0737 14.2317L18.1821 14.1281L18.0737 14.2317L19.9391 16.1827C20.0634 16.3128 20.2281 16.3792 20.3938 16.3792C20.5594 16.3792 20.7243 16.3129 20.8485 16.1828C21.0954 15.9248 21.0953 15.509 20.8486 15.2509L18.9834 13.2997L18.9834 13.2996C18.7375 13.0426 18.7375 12.6212 18.9834 12.3639L18.9835 12.3639C19.1017 12.2401 19.2568 12.1735 19.4213 12.1735C19.5857 12.1735 19.7408 12.2401 19.859 12.3639L19.8591 12.3639L23.3168 15.9808C25.49 18.2541 25.49 21.9562 23.3168 24.2293ZM2.12965 4.00494V3.02771C2.12965 2.48246 2.5521 2.05048 3.05727 2.05048H14.8129C15.318 2.05048 15.7405 2.48246 15.7405 3.02771V4.00494H2.12965Z' fill='%233F8DCB' stroke='%233F8DCB' stroke-width='0.3'/%3E%3C/svg%3E");
        }

        &:nth-child(3)::before {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='27' viewBox='0 0 26 27' fill='none'%3E%3Cpath d='M4.75877 25.1406C4.43062 25.1406 1.93481 25.1406 1.56285 25.1406C1.56285 24.7515 1.56285 22.1408 1.56285 21.7975C1.56285 21.3464 1.2127 20.9801 0.781424 20.9801C0.350149 20.9801 0 21.3464 0 21.7975V25.958C0 26.4091 0.350149 26.7754 0.781424 26.7754H4.75877C5.19004 26.7754 5.54019 26.4091 5.54019 25.958C5.54019 25.5068 5.19004 25.1406 4.75877 25.1406Z' fill='%233F8DCB'/%3E%3Cpath d='M24.2978 0.541626H20.3205C19.8892 0.541626 19.5391 0.907895 19.5391 1.35903C19.5391 1.81016 19.8892 2.17642 20.3205 2.17642H23.5164V5.51948C23.5164 5.97061 23.8666 6.33688 24.2978 6.33688C24.7291 6.33688 25.0793 5.97061 25.0793 5.51948V1.35903C25.0793 0.907895 24.7291 0.541626 24.2978 0.541626Z' fill='%233F8DCB'/%3E%3Cpath d='M24.2978 20.98C23.8666 20.98 23.5164 21.3462 23.5164 21.7974V25.1404C23.1446 25.1404 20.6486 25.1404 20.3205 25.1404C19.8892 25.1404 19.5391 25.5067 19.5391 25.9578C19.5391 26.409 19.8892 26.7752 20.3205 26.7752H24.2978C24.7291 26.7752 25.0793 26.409 25.0793 25.9578V21.7974C25.0793 21.3462 24.7291 20.98 24.2978 20.98Z' fill='%233F8DCB'/%3E%3Cpath d='M0.781424 6.33688C1.2127 6.33688 1.56285 5.97061 1.56285 5.51948C1.56285 5.17623 1.56285 2.56551 1.56285 2.17642H4.75877C5.19004 2.17642 5.54019 1.81016 5.54019 1.35903C5.54019 0.907895 5.19004 0.541626 4.75877 0.541626H0.781424C0.350149 0.541626 0 0.907895 0 1.35903V5.51948C0 5.97061 0.350149 6.33688 0.781424 6.33688Z' fill='%233F8DCB'/%3E%3Cpath d='M2.64355 4.12384V8.63595C2.64355 9.08708 2.99351 9.45335 3.42479 9.45335H7.73831C8.16959 9.45335 8.51974 9.08708 8.51974 8.63595V4.12384C8.51974 3.67271 8.16959 3.30664 7.73831 3.30664H3.42479C2.99351 3.30664 2.64355 3.67271 2.64355 4.12384ZM6.95689 7.81855H4.20621V4.94124H6.95689V7.81855Z' fill='%233F8DCB'/%3E%3Cpath d='M7.73831 17.7079H3.42479C2.99351 17.7079 2.64355 18.0736 2.64355 18.5253V23.0366C2.64355 23.4883 2.99351 23.854 3.42479 23.854H7.73831C8.16959 23.854 8.51974 23.4883 8.51974 23.0366V18.5253C8.51974 18.0736 8.16959 17.7079 7.73831 17.7079ZM6.95689 22.2192H4.20621V19.3427H6.95689V22.2192Z' fill='%233F8DCB'/%3E%3Cpath d='M17.0929 9.45335H21.4065C21.8377 9.45335 22.1879 9.08708 22.1879 8.63595V4.12384C22.1879 3.67271 21.8377 3.30664 21.4065 3.30664H17.0929C16.6611 3.30664 16.3115 3.67271 16.3115 4.12384V8.63595C16.3115 9.08708 16.6611 9.45335 17.0929 9.45335ZM17.8744 4.94124H20.625V7.81855H17.8744V4.94124Z' fill='%233F8DCB'/%3E%3Cpath d='M2.78418 11.5651C2.78418 12.0164 3.13414 12.3825 3.5656 12.3825H10.8644C11.2958 12.3825 11.6458 12.0164 11.6458 11.5651V6.91188C11.6458 6.46035 11.2958 6.09448 10.8644 6.09448C10.4327 6.09448 10.083 6.46035 10.083 6.91188V10.7477H3.5656C3.13414 10.7477 2.78418 11.1138 2.78418 11.5651Z' fill='%233F8DCB'/%3E%3Cpath d='M13.2521 11.638C13.2694 12.4684 13.2694 13.2318 13.2694 14.04C13.2694 14.4913 13.6191 14.8574 14.0508 14.8574H18.9475C19.3792 14.8574 19.7289 14.4913 19.7289 14.04C19.7289 13.5884 19.3792 13.2226 18.9475 13.2226H14.8314C14.8301 12.6926 14.8261 12.1644 14.8146 11.6026C14.8052 11.1513 14.4457 10.7928 14.0165 10.8032C13.5851 10.813 13.2428 11.1867 13.2521 11.638Z' fill='%233F8DCB'/%3E%3Cpath d='M10.8646 4.94153H10.8658C11.6554 4.94013 12.4699 4.93993 13.2686 4.93973C13.2674 5.51455 13.2636 6.08277 13.2519 6.67801C13.2431 7.12934 13.5856 7.50281 14.0171 7.51202C14.0225 7.51222 14.028 7.51222 14.0334 7.51222C14.4576 7.51222 14.8056 7.15716 14.8144 6.71163C14.8318 5.81998 14.8318 4.99537 14.8318 4.12233C14.8318 3.671 14.4821 3.30493 14.0504 3.30493C13.0082 3.30493 11.9137 3.30493 10.8633 3.30673C10.4318 3.30733 10.0824 3.674 10.083 4.12533C10.0838 4.57626 10.4335 4.94153 10.8646 4.94153Z' fill='%233F8DCB'/%3E%3Cpath d='M17.0929 11.988H21.4063C21.8377 11.988 22.1877 11.6221 22.1877 11.1706C22.1877 10.7193 21.8377 10.3534 21.4063 10.3534H17.0929C16.6615 10.3534 16.3115 10.7193 16.3115 11.1706C16.3115 11.6221 16.6615 11.988 17.0929 11.988Z' fill='%233F8DCB'/%3E%3Cpath d='M18.6068 19.3234C17.5682 19.3252 16.5298 19.3268 15.4912 19.3282C15.0597 19.3288 14.7104 19.6952 14.7109 20.1468C14.7115 20.5977 15.0613 20.963 15.4924 20.963C15.5444 20.963 17.2406 20.9606 18.6094 20.9582C19.0409 20.9574 19.3901 20.5909 19.3895 20.1394C19.3888 19.6884 19.039 19.3234 18.6081 19.3234C18.6075 19.3234 18.6072 19.3234 18.6068 19.3234Z' fill='%233F8DCB'/%3E%3Cpath d='M10.8723 14.476L9.42233 14.4766C8.99086 14.4768 8.64129 14.843 8.64148 15.2944C8.64167 15.7445 8.9901 16.1114 9.42329 16.1114L10.0912 16.111V23.0368C10.0912 23.4884 10.441 23.8542 10.8727 23.8542C11.3041 23.8542 11.6541 23.4884 11.6541 23.0368V15.2934C11.6541 14.8428 11.3047 14.476 10.8723 14.476Z' fill='%233F8DCB'/%3E%3Cpath d='M3.5656 14.4944C3.13414 14.4944 2.78418 14.8603 2.78418 15.3118C2.78418 15.7631 3.13414 16.1292 3.5656 16.1292H4.93386C5.36533 16.1292 5.71529 15.7631 5.71529 15.3118C5.71529 14.8603 5.36533 14.4944 4.93386 14.4944H3.5656Z' fill='%233F8DCB'/%3E%3Cpath d='M22.2954 17.1552C22.2954 16.7038 21.9454 16.3378 21.5139 16.3378H14.0334C13.6019 16.3378 13.252 16.7038 13.252 17.1552C13.252 17.6065 13.6019 17.9726 14.0334 17.9726H21.5139C21.9454 17.9726 22.2954 17.6067 22.2954 17.1552Z' fill='%233F8DCB'/%3E%3Cpath d='M7.95933 15.2934C7.95933 15.7447 7.60957 16.1108 7.17791 16.1108C6.74644 16.1108 6.39648 15.7447 6.39648 15.2934C6.39648 14.8418 6.74644 14.476 7.17791 14.476C7.60957 14.476 7.95933 14.8418 7.95933 15.2934Z' fill='%233F8DCB'/%3E%3Cpath d='M5.58135 7.1973C6.01263 7.1973 6.36278 6.83103 6.36278 6.3799C6.36278 5.92877 6.01263 5.5625 5.58135 5.5625C5.15008 5.5625 4.79993 5.92877 4.79993 6.3799C4.79993 6.83103 5.15008 7.1973 5.58135 7.1973Z' fill='%233F8DCB'/%3E%3Cpath d='M19.2502 5.5625C18.8183 5.5625 18.4688 5.92877 18.4688 6.3799C18.4688 6.83103 18.8183 7.1973 19.2502 7.1973C19.6815 7.1973 20.0316 6.83103 20.0316 6.3799C20.0316 5.92877 19.6815 5.5625 19.2502 5.5625Z' fill='%233F8DCB'/%3E%3Cpath d='M5.58135 21.5979C6.01263 21.5979 6.36278 21.2324 6.36278 20.7807C6.36278 20.3293 6.01263 19.9633 5.58135 19.9633C5.15008 19.9633 4.79993 20.3293 4.79993 20.7807C4.79993 21.2324 5.15008 21.5979 5.58135 21.5979Z' fill='%233F8DCB'/%3E%3Cpath d='M22.1877 14.0399C22.1877 14.4913 21.8378 14.8573 21.4063 14.8573C20.9746 14.8573 20.6249 14.4913 20.6249 14.0399C20.6249 13.5884 20.9746 13.2225 21.4063 13.2225C21.8378 13.2225 22.1877 13.5884 22.1877 14.0399Z' fill='%233F8DCB'/%3E%3Cpath d='M14.76 9.0381C14.76 9.48943 14.4103 9.8555 13.9786 9.8555C13.5472 9.8555 13.1974 9.48943 13.1974 9.0381C13.1974 8.58657 13.5472 8.2207 13.9786 8.2207C14.4103 8.2207 14.76 8.58657 14.76 9.0381Z' fill='%233F8DCB'/%3E%3Cpath d='M14.1205 20.1431C14.1205 20.5946 13.7707 20.9605 13.339 20.9605C12.9076 20.9605 12.5576 20.5946 12.5576 20.1431C12.5576 19.6918 12.9076 19.3257 13.339 19.3257C13.7707 19.3257 14.1205 19.6918 14.1205 20.1431Z' fill='%233F8DCB'/%3E%3Cpath d='M22.2944 23.0368V20.5221C22.2944 20.0708 21.9445 19.7047 21.513 19.7047C21.0813 19.7047 20.7316 20.0708 20.7316 20.5221V22.2194H15.4922C15.0607 22.2194 14.7109 22.5854 14.7109 23.0368C14.7109 23.4883 15.0607 23.8542 15.4922 23.8542H21.513C21.9445 23.8542 22.2944 23.4883 22.2944 23.0368Z' fill='%233F8DCB'/%3E%3C/svg%3E");
        }
      }
    }
  }
}


@media screen and (max-width: $desktopWidth) {
  .payment-places {
    &__item-img {
      @include flex-all-center;
    }
    &__item-img img {
      border-radius: 21.1979px;
      width: 78%;
    }
  }

  .carousel {
    &__payment-place {
        display: none;
    }
  }
}

.price {
  padding: 139.69px 0;

  .wrapper {
    @include flex-space-btw;
    padding-left: 28px;

    @media screen and (max-width: $desktopWidth) {
      padding-left: 0;
      margin: 0;
    }
  }

  ._sub-title {
    color: $blue;
    text-align: left;
    margin-bottom: 20px;

    @media screen and (max-width: $desktopWidth) {
      width: 70%;
      margin: 0 auto 36px 42px;
      text-align: center;
    }
  }

  &__text {
    width: 294 * 100%/1208;

    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: $mainFontColor;
      margin-bottom: 23.03px;
    }

    @media screen and (max-width: $desktopWidth) {
      width: 100%;
      padding: 0 15px 0 17px;

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: $blue;
        width: 97%;
        margin-bottom: 33.03px;
      }
    }
  }

  &__table {
    @include flex-col;
    width: 761 * 100%/1208;
    box-shadow: 0px 8px 10px rgba(107, 139, 217, 0.1);
    border-radius: 26px;
    padding-bottom: 28px;

    &-header {
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      color: $blue;
      padding: 34.05px 64px 29.19px;
      background: #ebf4fd;
      border-radius: 26px 26px 0px 0px;

      span {
        color: $orange;
      }
    }

    &-value {
      font-weight: 600;
      font-size: 22px;
      line-height: 22px;
      color: $blue;
      text-align: right;
      padding-right: 85px;
    }

    &-name {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }

    &-head {
      font-weight: 600;
      font-size: 20px;
      line-height: 130%;
      color: $blue;
      padding-top: 25.3px;
      padding-bottom: 18px;

      &:nth-child(2) {
        text-align: right;
      }
    }

    table {
      width: 635 * 100%/761;
      margin: 0 auto;
      tbody {
        tr {
          td {
            height: 50.94px;
            vertical-align: middle;
            border-top: 1px solid #efefef;
          }
        }

        tr:nth-child(-n+2) {
          td {
            border-top: none;
          }
        }
        
      }
    }

    @media screen and (max-width: $desktopWidth) {
      width: 100%;

      table {
        width: 100%;

        tbody {
          tr:nth-child(-n+2) {
            td {
              border-top: none;
            }
          }
          }
        }
      

      &-header {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        padding: 25px 16px 25px 23px;

        br {
          display: none;
        }
      }

      &-head {
        font-weight: 600;
        font-size: 15px;
        line-height: 130%;
        padding-left: 20px;

        &:nth-child(1) {
          width: 52%;
        }

        &:nth-child(2) {
          text-align: left;
        }
      }

      &-name {
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        padding-left: 20px;
      }

      &-value {
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        padding-right: 0;
      }
    }
  }
}

/* payment-place */

.payment-place {
  &__title {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 34px;
    line-height: 130%;
    color: #3f8dcb;
  }

  &__wrap {
    margin: 0 auto 65px;
    gap: 50px;
    display: flex;

    .slick-list {
      overflow: visible;
    }

    @media screen and (max-width: $desktopWidth) {
      gap: 10px;
      max-width: 700px;
      justify-content: space-between;
    }
  }

  &__card {
    width: calc(50% - 25px);
    display: flex;

    &-title {
      margin-bottom: 26px;
      font-weight: 700;
      font-size: 20.7296px;
      line-height: 134.34%;
      color: $blue;
    }
  }

  &__img {
    max-width: 250px;
  }

  &__cont {
    padding: 30px 43px;
  }

  &__li {
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 134.34%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__btn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.carousel__payment-places {
  @media screen and (min-width: $desktopWidth) {
    display: none;
  }

  .slick-list {
    padding: 0 20% 0 0;
    margin: 0 -16px;
  }
  
  .slick-slide {
    margin: 0 16px;
  }
  
  .slick-prev:before,
  .slick-next:before {
    content: "";
  }
  
  .slick-next {
    right: 1px;
  }
}

.carousel__options {
  @media screen and (min-width: $desktopWidth) {
    display: none;
  }
  .slick-prev:before,
  .slick-next:before {
    content: "";
  }
  
  .slick-next {
    right: 10px;
    top: 42%;
  }
}
