// Font
$mainFont                : 'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #000000;
$secondFontColor         : #242424;
$thirdFontColor          : #222222;
$mainFontSize            : 20px;
$mainFontWeight          : 400;
$mainLineHeight          : 160%;

$desktopWidth            : 1250px;
$desktopContainer        : 1208px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$smTableWidth            : 640px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$background-color        : #EBF4FD;
$dark-blue               : #254085;
$light-blue              : #428ECC;
$blue                    : #0F348C;
$yellow                  : #FFDD2D;
$orange                  : #FE5339;



